.grid-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 2%;
    padding-top: unset;
    // overflow: hidden;

    &-title {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        font-size: 34px;
        font-weight: 600;
    }

    &-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
    }
}
