
.loader-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 8; // 2;

    .loader {
        z-index: 6;
    }
}
