@use "./core/styles/mixins";

* {
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: #9d9fa1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(90deg, #7c7c7c 0%, #2e3e44 40%, #0b0b0b 98%);
  min-height: 100vh;
  @include mixins.flex-disp(column, center, center);
  font-size: calc(10px + 2vmin);
  color: white;

  .logo-wrapper {
    width: 40vmin;
    height: 40vmin;
    cursor: pointer;
    transition: transform 1s;

    &:hover {
      -ms-transform: scale(1.075); /* IE 9 */
      -webkit-transform: scale(1.075); /* Safari 3-8 */
      transform: scale(1.075);
    }
  }
}

.App-link {
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;

  &:hover {
    color: #6969c5;
    border-bottom: 1px solid #6969c5;
  }
}

.overlay-container {
  position: fixed;
  top: 0;
  @include mixins.flex-disp(row, center, center);
  background-color: rgb(14, 13, 13);
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: 4;

  &.loading {
    z-index: 6;
  }
}

.loader-box {
  position: fixed;
  top: 0;
  @include mixins.flex-disp(row, center, center);
  height: 100%;
  width: 100%;
  z-index: 8;

  .loader {
    z-index: 6;
  }
}
